@import "tailwindcss";

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('../fonts/playfair-display/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
      url('../fonts/playfair-display/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Black.woff2') format('woff2'),
      url('../fonts/playfair-display/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/source-sans-3/SourceSans3-Regular.woff2') format('woff2'),
      url('../fonts/source-sans-3/SourceSans3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/source-sans-3/SourceSans3-Medium.woff2') format('woff2'),
      url('../fonts/source-sans-3/SourceSans3-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/source-sans-3/SourceSans3-MediumItalic.woff2') format('woff2'),
      url('../fonts/source-sans-3/SourceSans3-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/source-sans-3/SourceSans3-Bold.woff2') format('woff2'),
      url('../fonts/source-sans-3/SourceSans3-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 30rem;

  --color-offwhte: #eef0ee;
  --color-orange: #f68330;
  --color-activeorange: #db752c;
  --color-yellow: #f7c412;
  --color-lightblue: #b4ddd5;
  --color-darkblue: #033756;
  --color-midnight: #08143a;

  --font-code: "Courier New", Courier, monospace;
  --font-playfair: "Playfair Display", serif;
  --font-source: "Source Sans 3", sans-serif;

  --shadow-top: 0 -10px 15px 3px rgb(0 0 0 / 0.25);
  --shadow-surround: 0 -10px 15px 3px rgb(0 0 0 / 0.25), 0 10px 15px 3px rgb(0 0 0 / 0.25);
}

@supports (-moz-appearance: none) {
  canvas {
    display: none;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}

canvas {
  cursor: url("../assets/icons/pencil.png"), crosshair;
}

* {
    /*border: 1px dotted red;*/
}
