@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --color-lightblue: #b4ddd5;
  --color-orange: #F68330;
  --color-activeorange: #DB752C;
  --color-yellow: #F7C412;
  --color-darkblue: #033756;
  --color-midnight: #08143A;
  --color-offwhte: #EEF0EE;

  --font-playfair: "Playfair Display", serif;
  --font-source: "Source Sans 3", sans-serif;

  --shadow-top: 0 -20px 25px 5px rgb(0 0 0 / 0.25);
}

/* {
    border: 1px dotted red;
}*/
